name: "Integration Test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  # test action works running from the graph
  test:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./
      with:
        command: echo hello123
        template: "Some comment\n%command%"
        update-text: "Some comment"
    - uses: ./
      with:
        command: echo "hello123 asdf"
        template: "Some comment2\n%command%"
        update-text: "Some comment2"


